<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body{background-color:  aquamarine;}
        h1{font: bold;color: coral;font-size: 300%;text-align:center;}
        p{font: auto;  color: crimson;font-size: 150%;text-align: center;}
        table,td,th{border: 1px solid black;}
        table{border-collapse: collapse;width: 50%;}
        td{text-align: center;}
    </style>
</head>
<body>
<h1>UPDATE_MEMBER</h1>
<form action="updaterecord/{{ add_members.id }}" method="POST">
 {% csrf_token %}
    FIRSTNAME:<br>
    <input name="first_name" type="{{ add_members.first_name }}"><br><br>
    LASTNAME:<br>
    <input name="last_name" type="{{ add_members.last_name }}"><br><br>
    <input type="submit" value="submit">
</form>


</body>
</html>